form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;;
    border-radius: 4px 0 0 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #F57C00;
  }
  
  button {
    padding: 10px 20px;
    border: 1px solid #F57C00 !important;
    background-color: #F57C00 !important;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #EF6C00 !important;
  }
  