ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  li > div {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button.edit {
    background-color: #28a745;
  }
  
  button.edit:hover {
    background-color: #218838;
  }
  
  button.delete {
    background-color: #dc3545;
  }
  
  button.delete:hover {
    background-color: #c82333;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
  }
  
  .pagination span {
    padding: 5px 10px;
    color: #333;
  }
  