@import "tailwindcss";



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Needed for layering */
  overflow: hidden;
  z-index: 0;
}


/* Container for the entire app */
.app-container{
  background-color: #FFF9C4;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 90%;
  max-width: 800px;
  text-align: center;

  h1{
  color: #333333;
}

}
/* #root {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

body::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/study.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}